<a href="https://colab.research.google.com/github/rich1123/DataEngineering.Labs.AirflowProject/blob/dev/football.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import csv
import pandas as pd

In [79]:
from google.colab import files
uploaded = files.upload()

Saving ADP.csv to ADP (1).csv

In [0]:
adp = pd.read_csv('ADP (1).csv')

In [0]:
rb = pd.read_csv('rb_data (4).csv')

In [82]:
rb

                Player  Year   Tm  Games  ...  Rec TD  Rec Y/G  Rec Ctch%  Rec Y/Tgt
0          T.J. Yeldon  2015  JAX     12  ...       1     23.3     78.30%       6.07
1    DeAngelo Williams  2011  CAR     16  ...       0      8.4     64.00%       5.40
2    DeAngelo Williams  2012  CAR     16  ...       2     11.7     65.00%       9.35
3    DeAngelo Williams  2013  CAR     15  ...       1     22.2     72.20%       9.25
4    DeAngelo Williams  2015  PIT     16  ...       0     22.9     85.10%       7.81
..                 ...   ...  ...    ...  ...     ...      ...        ...        ...
255      C.J. Anderson  2014  DEN     15  ...       2     21.6     77.30%       7.36
256      C.J. Anderson  2015  DEN     15  ...       0     12.2     69.40%       5.08
257      C.J. Anderson  2017  DEN     16  ...       1     14.0     70.00%       5.60
258          Jay Ajayi  2016  MIA     15  ...       0     10.1     77.10%       4.31
259          Jay Ajayi  2017  2TM     14  ...       1     11.3     70.60%       4.65

[260 rows x 18 columns]

In [0]:
wr = pd.read_csv('wr_data (4).csv')

In [0]:
te = pd.read_csv('TE_data.csv')

In [0]:
qb = pd.read_csv('QB_data.csv')

In [0]:
new_adp = adp.rename(columns={"Name": "Player"})

In [87]:
new_adp

       Year  Pick              Player Pos Team  Overall  Std.\nDev  High    Low
0    2010.0  1.01       Chris Johnson  RB  TEN      1.4        1.3  1.01   2.12
1    2010.0  1.02     Adrian Peterson  RB  MIN      2.3        1.3  1.01   2.11
2    2010.0  1.03            Ray Rice  RB  BAL      3.2        1.5  1.01   2.10
3    2010.0  1.05  Maurice Jones-Drew  RB  JAX      4.7        1.5  1.01   2.09
4    2010.0  1.05       Andre Johnson  WR  HOU      4.8        2.6  1.01   5.01
..      ...   ...                 ...  ..  ...      ...        ...   ...    ...
988  2019.0  8.09   Darrell Henderson  RB  LAR     93.0        9.2  6.01   9.12
989  2019.0  8.10          Cam Newton  QB  CAR     94.4        9.9  2.12  10.07
990  2019.0  8.11       Rashaad Penny  RB  SEA     95.3        7.8  5.03  10.03
991  2019.0  8.11       Austin Hooper  TE  ATL     95.4       13.3  5.05  11.11
992  2019.0  8.12       Sammy Watkins  WR   KC     96.1        8.0  6.03  10.05

[993 rows x 9 columns]

In [0]:
# rb_adp = rb.join(new_adp, lsuffix='Player', rsuffix='Year')
frames = [rb, new_adp]

In [0]:
rb_adp = pd.merge(rb, new_adp, on=['Year', 'Player'])

In [117]:
rb_adp

                Player  Year   Tm  Games  ...  Overall  Std.\nDev  High   Low
0    DeAngelo Williams  2011  CAR     16  ...     43.9        6.6  3.02  6.01
1    DeAngelo Williams  2013  CAR     15  ...     65.9        9.5  3.12  8.10
2         Beanie Wells  2011  ARI     14  ...     56.8        7.9  3.12  7.06
3       Michael Turner  2010  ATL     16  ...      9.1        2.1  1.03  2.06
4       Michael Turner  2011  ATL     16  ...     22.3        4.4  1.02  3.07
..                 ...   ...  ...    ...  ...      ...        ...   ...   ...
180        Joique Bell  2014  DET     15  ...     45.9        6.2  3.09  6.01
181     Saquon Barkley  2018  NYG     16  ...      6.5        1.7  1.01  1.12
182     Saquon Barkley  2019  NYG     13  ...      1.4        0.6  1.01  1.05
183      Peyton Barber  2018  TAM     16  ...     69.0        7.3  3.01  8.12
184          Jay Ajayi  2017  2TM     14  ...     13.8        2.6  1.05  2.08

[185 rows x 25 columns]

In [118]:
# rb_adp.head(50)
rb_adp

                Player  Year   Tm  Games  ...  Overall  Std.\nDev  High   Low
0    DeAngelo Williams  2011  CAR     16  ...     43.9        6.6  3.02  6.01
1    DeAngelo Williams  2013  CAR     15  ...     65.9        9.5  3.12  8.10
2         Beanie Wells  2011  ARI     14  ...     56.8        7.9  3.12  7.06
3       Michael Turner  2010  ATL     16  ...      9.1        2.1  1.03  2.06
4       Michael Turner  2011  ATL     16  ...     22.3        4.4  1.02  3.07
..                 ...   ...  ...    ...  ...      ...        ...   ...   ...
180        Joique Bell  2014  DET     15  ...     45.9        6.2  3.09  6.01
181     Saquon Barkley  2018  NYG     16  ...      6.5        1.7  1.01  1.12
182     Saquon Barkley  2019  NYG     13  ...      1.4        0.6  1.01  1.05
183      Peyton Barber  2018  TAM     16  ...     69.0        7.3  3.01  8.12
184          Jay Ajayi  2017  2TM     14  ...     13.8        2.6  1.05  2.08

[185 rows x 25 columns]

In [0]:
# rb_adp[]==
AP =  rb_adp.loc[rb_adp['Player'] == 'Adrian Peterson']

In [120]:
AP

             Player  Year   Tm  Games  ...  Overall  Std.\nDev  High   Low
20  Adrian Peterson  2010  MIN     15  ...      2.3        1.3  1.01  2.11
21  Adrian Peterson  2011  MIN     12  ...      1.7        1.1  1.01  1.10
22  Adrian Peterson  2013  MIN     14  ...      1.2        0.6  1.01  1.05
23  Adrian Peterson  2015  MIN     16  ...      1.8        1.0  1.01  1.05
24  Adrian Peterson  2018  WAS     16  ...     81.1        8.5  2.05  9.05

[5 rows x 25 columns]

In [0]:
rb_adp.mean(axis = ['Pick'], skipna = True)

TypeError: ignored