<a href="https://colab.research.google.com/github/rich1123/DataEngineering.Labs.AirflowProject/blob/master/football.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import csv
import pandas as pd

In [13]:
from google.colab import files
uploaded = files.upload()

Saving ADP.csv to ADP.csv

In [0]:
adp = pd.read_csv('ADP.csv')

In [0]:
rb = pd.read_csv('rb_data (4).csv')

In [53]:
rb

                Player  Year   Tm  Games  ...  Rec TD  Rec Y/G  Rec Ctch%  Rec Y/Tgt
0          T.J. Yeldon  2015  JAX     12  ...       1     23.3     78.30%       6.07
1    DeAngelo Williams  2011  CAR     16  ...       0      8.4     64.00%       5.40
2    DeAngelo Williams  2012  CAR     16  ...       2     11.7     65.00%       9.35
3    DeAngelo Williams  2013  CAR     15  ...       1     22.2     72.20%       9.25
4    DeAngelo Williams  2015  PIT     16  ...       0     22.9     85.10%       7.81
..                 ...   ...  ...    ...  ...     ...      ...        ...        ...
255      C.J. Anderson  2014  DEN     15  ...       2     21.6     77.30%       7.36
256      C.J. Anderson  2015  DEN     15  ...       0     12.2     69.40%       5.08
257      C.J. Anderson  2017  DEN     16  ...       1     14.0     70.00%       5.60
258          Jay Ajayi  2016  MIA     15  ...       0     10.1     77.10%       4.31
259          Jay Ajayi  2017  2TM     14  ...       1     11.3     70.60%       4.65

[260 rows x 18 columns]

In [0]:
wr = pd.read_csv('wr_data (4).csv')

In [0]:
te = pd.read_csv('TE_data.csv')

In [0]:
qb = pd.read_csv('QB_data.csv')

In [0]:
new_adp = adp.rename(columns={"Name": "Player"})

In [44]:
new_adp

       year  Pick              Player Pos Team  Overall  Std.\nDev  High    Low
0    2010.0  1.01       Chris Johnson  RB  TEN      1.4        1.3  1.01   2.12
1    2010.0  1.02     Adrian Peterson  RB  MIN      2.3        1.3  1.01   2.11
2    2010.0  1.03            Ray Rice  RB  BAL      3.2        1.5  1.01   2.10
3    2010.0  1.05  Maurice Jones-Drew  RB  JAX      4.7        1.5  1.01   2.09
4    2010.0  1.05       Andre Johnson  WR  HOU      4.8        2.6  1.01   5.01
..      ...   ...                 ...  ..  ...      ...        ...   ...    ...
988  2019.0  8.09   Darrell Henderson  RB  LAR     93.0        9.2  6.01   9.12
989  2019.0  8.10          Cam Newton  QB  CAR     94.4        9.9  2.12  10.07
990  2019.0  8.11       Rashaad Penny  RB  SEA     95.3        7.8  5.03  10.03
991  2019.0  8.11       Austin Hooper  TE  ATL     95.4       13.3  5.05  11.11
992  2019.0  8.12       Sammy Watkins  WR   KC     96.1        8.0  6.03  10.05

[993 rows x 9 columns]

In [0]:
# rb_adp = rb.join(new_adp, lsuffix='Player', rsuffix='Year')
frames = [rb, new_adp]

In [0]:
rb_adp = pd.concat(frames)

In [54]:
rb_adp.describe()

             Year       Games  ...        High         Low
count   260.00000  260.000000  ...  992.000000  992.000000
mean   2014.40000   14.911538  ...    3.058004    6.198720
std       2.96726    1.458520  ...    1.784105    3.077737
min    2010.00000   10.000000  ...    1.010000    1.030000
25%    2012.00000   14.000000  ...    1.110000    4.020000
50%    2014.00000   16.000000  ...    3.020000    6.090000
75%    2017.00000   16.000000  ...    4.090000    9.020000
max    2019.00000   16.000000  ...   11.010000   15.120000

[8 rows x 21 columns]

In [47]:
# rb_adp.head(50)
rb_adp.sort_values(by=['Pick']).head(150)

              Player  Year   Tm  Games  ...  Overall  Std.\nDev  High   Low
0      Chris Johnson   NaN  NaN    NaN  ...      1.4        1.3  1.01  2.12
199     Arian Foster   NaN  NaN    NaN  ...      1.4        0.6  1.01  1.03
293  Adrian Peterson   NaN  NaN    NaN  ...      1.2        0.6  1.01  1.05
893   Saquon Barkley   NaN  NaN    NaN  ...      1.4        0.6  1.01  1.05
593    Antonio Brown   NaN  NaN    NaN  ...      1.2        0.5  1.01  1.04
..               ...   ...  ...    ...  ...      ...        ...   ...   ...
907      Dalvin Cook   NaN  NaN    NaN  ...     14.6        2.8  1.05  2.11
15      Ryan Mathews   NaN  NaN    NaN  ...     15.4        3.6  1.06  3.06
14       Roddy White   NaN  NaN    NaN  ...     14.8        3.4  1.01  5.07
307    Chris Johnson   NaN  NaN    NaN  ...     15.5        2.7  1.06  2.11
308   Steven Jackson   NaN  NaN    NaN  ...     16.0        2.8  1.06  2.12

[150 rows x 26 columns]

In [49]:
rb_adp.mean(axis = ['Pick'], skipna = True)

TypeError: ignored